<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add> name= "dbconnection" connectionString = "v00egd00001l.lec-admin.dmu.ac.uk;p2577928;p2577928@my365.ac.uk;learning_sugar_8518;" </add>/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>